@font-face {
    font-family: 'textL';
    src: url('../fonts/KBFGTextL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
    margin: 0;   
}

body{
    background-color: #BDE2CE;
    font-family: 'textL';
    padding: 15px;
    height: calc(100% - 60px);
    margin: 0; 
}

/* 환율 */
.board_currency {
    border-radius: 10px;
    background-color: #BDE2CE;
    display: flex;
    flex-direction: column;         /* 세로로 나열하도록 설정 */
    justify-content: flex-start;    /* 내부 요소들을 상단에 배치 */
    align-items: center;            /* 내부 요소들을 수평 중앙에 배치 */
    width: 100%;
    height:  100%;
    padding: 18px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_currency_inner { /* yeji */
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.all_currency {
	width: 100%;
}

.all_currency th {
	padding: 8px;
}

.all_currency td {
    padding: 8px; /* Add padding inside each cell */
    text-align: center; /* Center align text within each cell */
    border-bottom: 1px solid #f0f0f0; /* Light grey border for subtle lines */
}
/* 환율 */

/* 금리 */

.interestRates {
	display: flex;
	justify-content: space-between; /* 수정된 속성 */
	height: 100%;
}

.half_box {
	flex: 1; /* 박스가 컨테이너의 가능한 많은 공간을 차지하도록 설정 */
	margin: 0 10px; /* 박스 사이에 간격 추가 */
	padding: 15px;
	height: 70%;
	border-radius: 10px;
	background-color: #f0f0f0;
}

.half_box h3 {
	font-size: 20px; /* 예시: 폰트 크기 */
    color: gray; /* 예시: 폰트 색상 */
    margin-top: 5px;
    margin-bottom: 10px; /* 예시: 아래쪽 여백 */
}


/* 금리 */
