.flag {
    display: inline-block;
    width: 50px; /* 새로운 너비 */
    height: 34px; /* 새로운 높이 */
    background: url('${pageContext.request.contextPath}/resources/images/flags/flag_all.png') no-repeat;
    background-size: 290px 760px; /* background-size 조정 */
}
.flag-krw {
    background-position: 0 0;
}
.flag-usd {
    background-position: 0 -64px;
}
.flag-jpy {
    background-position: 0 -128px;
}
.flag-cny {
    background-position: 0 -192px;
}
.flag-aud {
    background-position: 0 -256px;
}
.flag-gbp {
    background-position: 0 -320px;
}
.flag-cad {
    background-position: 0 -384px;
}
.flag-php {
    background-position: 0 -448px;
}
.flag-hkd {
    background-position: 0 -512px;
}
.flag-thb {
    background-position: 0 -576px;
}
.flag-eur {
    background-position: 0 -640px;
}
.flag-sgd {
    background-position: -80px 0;
}
.flag-inr {
    background-position: -80px -64px;
}
.flag-brl {
    background-position: -80px -128px;
}
.flag-twd {
    background-position: -80px -192px;
}
.flag-myr {
    background-position: -80px -256px;
}
.flag-chf {
    background-position: -80px -320px;
}
.flag-vnd {
    background-position: -80px -384px;
}
.flag-rub {
    background-position: -80px -448px;
}
.flag-idr {
    background-position: -80px -512px;
}
.flag-bdt {
    background-position: -80px -576px;
}
.flag-sek {
    background-position: -80px -640px;
}
.flag-nok {
    background-position: -160px 0;
}
.flag-huf {
    background-position: -160px -64px;
}
.flag-mxn {
    background-position: -160px -128px;
}
.flag-kwd {
    background-position: -160px -192px;
}
.flag-dkk {
    background-position: -160px -256px;
}
.flag-egp {
    background-position: -160px -320px;
}
.flag-pln {
    background-position: -160px -384px;
}
.flag-sar {
    background-position: -160px -448px;
}
.flag-ils {
    background-position: -160px -512px;
}
.flag-pkr {
    background-position: -160px -576px;
}
.flag-bhd {
    background-position: -160px -640px;
}
.flag-jod {
    background-position: -240px 0;
}
.flag-bnd {
    background-position: -240px -64px;
}
.flag-aed {
    background-position: -240px -128px;
}
.flag-mnt {
    background-position: -240px -192px;
}
.flag-kzt {
    background-position: -240px -256px;
}
.flag-try {
    background-position: -240px -320px;
}
.flag-czk {
    background-position: -240px -384px;
}
.flag-qar {
    background-position: -240px -448px;
}
.flag-nzd {
    background-position: -240px -512px;
}
.flag-zar {
    background-position: -240px -576px;
}
.flag-clp {
    background-position: 0 -704px;
}
.flag-omr {
    background-position: -240px -640px;
}
.flag-npr {
    background-position: -80px -704px;
}
.flag-mop {
    background-position: -160px -704px;
}