html {
    height: 100%;
    margin: 0;   
}
body{
    background-color: #FFE580;
    font-family: 'KB금융 본문체 Light';
    padding: 15px;
    height: calc(100% - 60px);
    margin: 0; 
}
.header_outline{
    background-color : white;
    border-radius: 10px;
    width: auto;
    height: 60px;
    padding-left : 30px;
    display : flex;
    justify-content: space-between;
    align-items : center;
}
.header_innerBox{
    display: flex;
    align-items: center;
}
.header_innerText{
    font-size: 30px;
    font-family: 'KB금융 본문체 Light';
    font-weight: bold;
}
.header_logo{
    width: 50px; 
    height: 50px; 
    object-fit: contain;
    margin-right: 10px;
    display: inline-block;
}
.header_iconArea{
    display: flex;
    justify-content: space-between;
    
    margin-right: 15px;
}
.header_icon{
    width: 30px; 
    height: 30px; 
    object-fit: contain;
    margin-right: 10px;
}

.content_left{
    border-radius: 10px;
    background-color: white;
    padding: 40px;
    width: 14%;
    height: 80%;
    margin-right: 15px;

}
.content_right{
    border-radius: 10px;
    background-color: white;
    padding: 40px;
    width: 100%;
    height: 80%;

} 
.content_outline{
    margin-top: 15px;
    height: 100%;
    display: flex;
}
.fullContent{
	width : 35%;
	height : 40%;
	margin-top: 15px;
	border-radius: 10px;
	background-color : white;
	opacity:0.8;
	align-items: center;
	text-align: center;
}
.inputText{
	color: black; 
	width: 40%; 
	height: 30px;
	margin-top: 15px;
	font-size: 15px;
}
.inputText1{
	color: black; 
	width: 90%; 
	height: 30px;
	margin-top: 15px;
	font-size: 15px;
}
.input_text{
	font-size: 20px;
    font-family: 'KB금융 본문체 Light';
}
.loginButton{
	margin-top: 15px;
	border: none;
	width : 30%;
	font-size: 20px;
	font-family: 'KB금융 본문체 Light';
	background-color: #FFEE00;
}
