@font-face {
    font-family: 'textL';
    src: url('../fonts/KBFGTextL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
    margin: 0;   
}

body{

    background-color: #BDE2CE;
    font-family: 'textL';
    padding: 15px;
    height: calc(100% - 60px);
    margin: 0; 
}
.header_outline{
    background-color : white;
    border-radius: 10px;
    width: auto;
    height: 60px;
    padding-left : 30px;
    display : flex;
    justify-content: space-between;
    align-items : center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 500px;

}
.header_innerBox{
    display: flex;
    align-items: center;
    min-width: 300px;
}
.header_innerText{
    font-size: 30px;

    font-family: 'textL';
    font-weight: bold;
}
.header_logo{
    width: 50px; 
    height: 50px; 
    object-fit: contain;
    margin-right: 10px;
    display: inline-block;
}
.header_iconArea{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.header_icon{
    width: 30px; 
    height: 30px; 
    object-fit: contain;
    margin-right: 10px;
}

.content_left{
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 14%;
    height: 90%;
    margin-right: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}
.content_right{
	flex-direction: column;   /* 자식 요소를 수직으로 정렬 */
    justify-content: space-between; /* 상단과 하단에 자식 요소를 정렬하고, 나머지 공간을 중간에 배분 */
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 90%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);


}
.content_todo{
	border-radius: 10px;
    background-color: yellow;
    padding: 40px;
    width: 95%;
    height: 80%;
	
}

.content_outline{
    margin-top: 15px;    
    height: 100%;
    display: flex;
}



/* home */

*, *::before, *::after {
    box-sizing: border-box;
}

.board_top{
    display: flex;                 /* Flexbox를 활성화합니다 */
    justify-content: space-between; /* 내부 요소들 사이에 균등 간격을 제공합니다 */
    align-items: center;           /* 내부 요소들을 세로 중앙에 배치합니다 */
    border-radius: 10px;
    background-color: #FFE580;
    width: 100%;
    height: 45%;                   /* 컨테이너 높이 설정 */
    padding: 18px;   
    margin-bottom: 20px;              /* 내부 요소와의 간격을 위해 패딩 추가 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_inner {	
    border-radius: 10px;
    background-color: white;
    width: 32%;                    /* 각 내부 요소의 너비를 30%로 설정 */
    height: 100%;                  /* 높이를 부모와 같게 설정 */
    padding: 10px;
    margin-right: 10px;            /* 요소 사이의 마진 설정 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* 마지막 board_inner 요소의 마진을 제거합니다 */
.board_inner:last-child {
    margin-right: 0;
}

.board_bottom{
    display: flex;                 /* Flexbox를 활성화합니다 */
    justify-content: space-between; /* 내부 요소들 사이에 균등 간격을 제공합니다 */
    align-items: center;           /* 내부 요소들을 세로 중앙에 배치합니다 */
    border-radius: 10px;
    background-color: #FFE580;
    width: 100%;
    height: 52%;                   /* 컨테이너 높이 설정 */
    padding: 18px; 
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);	
}

.board_bottom:last-child {
    margin-bottom: 0; /* 마지막 요소의 마진 제거 */
}

.board_inner2 {	
    border-radius: 10px;
    background-color: white;
    width: 49%;                    /* 각 내부 요소의 너비를 30%로 설정 */
    height: 100%;                  /* 높이를 부모와 같게 설정 */
    padding: 10px;
    margin-right: 10px;            /* 요소 사이의 마진 설정 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card_top {
    display: flex;
    justify-content: space-between; /* 필요에 따라 flex-end로 변경 */
    align-items: center;
    width: 100%; /* 컨테이너 전체 너비를 확보 */
    padding: 0 10px; /* 좌우 패딩을 추가하여 내용이 테두리에 닿지 않도록 함 */
}

.card_title {
    margin-right: auto; /* 제목과 아이콘 사이의 공간 자동 조정 */
    margin-top: 5px;
    margin-bottom: 5px;
}

.link-icon {
    display: inline-block;
    width: 25px; /* 너비 증가 */
    height: 25px; /* 높이 조정, 필요에 따라 auto로 설정 */
    background-image: url('../images/icons/link.png'); /* 이미지 경로 확인 */
    background-size: contain; /* 이미지가 비율을 유지하면서 컨테이너에 맞게 조정됨 */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.fullContent{
	width : 35%;
	height : 40%;
	border-radius: 10px;
	background-color : white;
	opacity:0.8;
	align-items: center;
	text-align: center;
	min-height : 300px;
	min-width: 300px;
}
.inputText{
	color: black; 
	width: 40%; 
	height: 30px;
	margin-top: 15px;
	font-size: 15px;
}
.inputText1{
	color: black; 
	width: 90%; 
	height: 30px;
	margin-top: 15px;
	font-size: 15px;
}
.input_text{
	font-size: 20px;
    font-family: textL;
}
.loginButton{
	margin-top: 15px;
	border: none;
	width : 30%;
	font-size: 20px;
	font-family: textL;
	background-color: #FFEE00;
	
}

.addButton{
	margin-top: 15px;
	border: none;
	border-radius: 10px;
	width : 10%;
	font-size: 20px;
	font-family: textL;
	background-color: #FFEE00;
}

