:root {
    --main-bgcolor: #BDE2CE; /* 변수 선언 */
    --todo-checked: #888;
}
/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 4px; /* 스크롤바의 너비 */
    height: 8px; /* 가로 스크롤바의 높이 (optional) */
}

/* 스크롤바의 트랙 (스크롤바 배경) */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* 배경 색상 */
    border-radius: 10px; /* 모서리를 둥글게 */
}

/* 스크롤바의 핸들 (사용자가 잡는 부분) */
::-webkit-scrollbar-thumb {
    background: #888; /* 핸들의 배경 색상 */
    border-radius: 10px; /* 모서리를 둥글게 */
}

/* 스크롤바 핸들의 호버 상태 */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* 핸들이 호버 상태일 때의 색상 */
}

@font-face {
    font-family: 'textL';
    src: url('../fonts/KBFGTextL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
    margin: 0;   
}

body{
    background-color: var(--main-bgcolor);
    font-family: 'textL';
    padding: 15px;
    height: 95%;
    margin: 0; 
}

.header_outline{
    background-color : white;
    border-radius: 10px;
    width: auto;
    height: 70px;
    padding-left : 30px;
    display : flex;
    justify-content: space-between;
    align-items : center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 500px;
}
.header_innerBox{
    display: flex;
    align-items: center;
    min-width: 300px;
}
.header_innerText{
    font-size: 30px;

    font-family: 'textL';
    font-weight: bold;
}
.header_logo{
    width: 50px; 
    height: 50px; 
    object-fit: contain;
    margin-right: 10px;
    display: inline-block;
}
.header_iconArea{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
.header_icon{
    width: 30px; 
    height: 30px; 
    object-fit: contain;
    margin-right: 10px;
}

.menuSetting_l {
	position: relative; /* 부모 요소를 상대적 위치 컨테이너로 설정 */
	display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 나열 */
    justify-content: space-between; /* 첫 번째 요소는 위에, 마지막 요소는 아래에 위치 */
    border-radius: 10px;
    background-color: white;
    padding: 20px 5px;
    width: 30%;
    height: 100%;
    margin-right: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.content_right{
	flex-direction: column;   /* �옄�떇 �슂�냼瑜� �닔吏곸쑝濡� �젙�젹 */
    justify-content: space-between; /* �긽�떒怨� �븯�떒�뿉 �옄�떇 �슂�냼瑜� �젙�젹�븯怨�, �굹癒몄� 怨듦컙�쓣 以묎컙�뿉 諛곕텇 */
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_back { /* yeji */
    border-radius: 10px;
    background-color: var(--main-bgcolor);
    display: flex;
    flex-direction: column;         /* 세로로 나열하도록 설정 */
    justify-content: flex-start;    /* 내부 요소들을 상단에 배치 */
    align-items: center;            /* 내부 요소들을 수평 중앙에 배치 */
    width: 100%;
    height:  100%;
    padding: 18px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_back1 { /* yeji */
    border-radius: 10px;
    background-color: var(--main-bgcolor);
    width: 100%;
    height: 100%;
    padding: 18px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_todo { /* yeji */
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 95%;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_memo1 { /* yeji */
    border-radius: 10px;
    background-color: white;
    width: 100%; /* 좌우 각각의 메모가 절반씩 차지하도록 설정 */
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    height: 600px; /* 높이 설정 */
}

.board_memo2 { /* yeji */
    border-radius: 10px;
    background-color: white;
    width: 100%; /* 좌우 각각의 메모가 절반씩 차지하도록 설정 */
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    height: 600px; /* 높이 설정 */
}


.content_outline{
    margin-top: 15px;    
    height: 95%;
    display: flex;
}


/* home */

*, *::before, *::after {
    box-sizing: border-box;
}

.board_top{
    display: flex;                 /* Flexbox瑜� �솢�꽦�솕�빀�땲�떎 */
    justify-content: space-between; /* �궡遺� �슂�냼�뱾 �궗�씠�뿉 洹좊벑 媛꾧꺽�쓣 �젣怨듯빀�땲�떎 */
    align-items: center;           /* �궡遺� �슂�냼�뱾�쓣 �꽭濡� 以묒븰�뿉 諛곗튂�빀�땲�떎 */
    border-radius: 10px;
    background-color: var(--main-bgcolor);
    width: 100%;
    height: 45%;                   /* 而⑦뀒�씠�꼫 �넂�씠 �꽕�젙 */
    padding: 18px;   
    margin-bottom: 20px;              /* �궡遺� �슂�냼���쓽 媛꾧꺽�쓣 �쐞�빐 �뙣�뵫 異붽� */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_inner {	
    border-radius: 10px;
    background-color: white;
    width: 32%;                    /* 媛� �궡遺� �슂�냼�쓽 �꼫鍮꾨�� 30%濡� �꽕�젙 */
    height: 100%;                  /* �넂�씠瑜� 遺�紐⑥� 媛숆쾶 �꽕�젙 */
    padding: 10px;
    margin-right: 10px;            /* �슂�냼 �궗�씠�쓽 留덉쭊 �꽕�젙 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* 留덉�留� board_inner �슂�냼�쓽 留덉쭊�쓣 �젣嫄고빀�땲�떎 */
.board_inner:last-child {
    margin-right: 0;
}

.board_bottom{
    display: flex;                 /* Flexbox瑜� �솢�꽦�솕�빀�땲�떎 */
    justify-content: space-between; /* �궡遺� �슂�냼�뱾 �궗�씠�뿉 洹좊벑 媛꾧꺽�쓣 �젣怨듯빀�땲�떎 */
    align-items: center;           /* �궡遺� �슂�냼�뱾�쓣 �꽭濡� 以묒븰�뿉 諛곗튂�빀�땲�떎 */
    border-radius: 10px;
    background-color: var(--main-bgcolor);
    width: 100%;
    height: 52%;                   /* 而⑦뀒�씠�꼫 �넂�씠 �꽕�젙 */
    padding: 15px; 
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);	
}

.board_bottom:last-child {
    margin-bottom: 0; /* 留덉�留� �슂�냼�쓽 留덉쭊 �젣嫄� */
}

.board_inner2 {	
	display: flex;
	justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    width: 49%;                    /* 媛� �궡遺� �슂�냼�쓽 �꼫鍮꾨�� 30%濡� �꽕�젙 */
    height: 100%;  
    gap: 15px;                /* �넂�씠瑜� 遺�紐⑥� 媛숆쾶 �꽕�젙 */
    padding: 15px;
    margin-right: 10px;            /* �슂�냼 �궗�씠�쓽 留덉쭊 �꽕�젙 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.board_calendar_bottom{
    display: flex;                
    justify-content: space-between; 
    align-items: center;           
    border-radius: 10px;
    background-color: var(--main-bgcolor);
    width: 100%;
    height: 100%;                  
    padding: 18px; 
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);	
}

.board_inner_inner {	
    border-radius: 10px;
    background-color: white;
    width: 32%;                    /* 각 내부 요소의 너비를 30%로 설정 */
    height: 100%;                  /* 높이를 부모와 같게 설정 */
    padding: 10px;
	background-color: var(--main-bgcolor);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.board_inner3 {	
    border-radius: 10px;
    background-color: white;
    width: 49%;                    /* 각 내부 요소의 너비를 30%로 설정 */
    height: 100%;                  /* 높이를 부모와 같게 설정 */
    padding: 10px;
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.rankbox {
    flex: 1; /* flex-grow 속성을 사용하여 사용 가능한 공간을 균등하게 차지하도록 설정 */
    padding: 10px; /* 내부 패딩 */
    margin-right: 10px; /* 오른쪽에 마진 추가 */
    height: 100%;
    background-color: var(--main-bgcolor);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.rankbox:last-child {
    margin-right: 0; /* 마지막 rankbox의 마진 제거 */
}

.tab_rank {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

/*댓글좋아요박스*/
.reply_like {
	border-radius: 10px;
	background-color: var(--main-bgcolor);
	padding: 15px;
	height: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.tab_table {
	padding:5px;
	overflow-y: auto; 
    height: 75%;
}
/*댓글좋아요박스*/



.card_top {
    display: flex;
    flex-direction: column; /* 세로 정렬로 변경 */
    align-items: flex-start; /* 왼쪽 정렬 */
    width: 100%; /* 컨테이너 전체 너비를 확보 */
    padding: 0 10px; /* 좌우 패딩을 추가하여 내용이 테두리에 닿지 않도록 함 */

}

.card_top .title_and_link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_underline {
	border-bottom: 1px solid #ccc; /* 밑줄 추가 */
    padding-bottom: 10px; /* 내용과 선 사이의 간격 조정 */
}

.card_title {
    margin-right: auto; /* �젣紐⑷낵 �븘�씠肄� �궗�씠�쓽 怨듦컙 �옄�룞 議곗젙 */
    margin-top: 5px;
    margin-bottom: 5px;
}


.link-icon {
    display: inline-block;
    width: 25px; /* �꼫鍮� 利앷� */
    height: 25px; /* �넂�씠 議곗젙, �븘�슂�뿉 �뵲�씪 auto濡� �꽕�젙 */
    background-image: url('../images/icons/link.png'); /* �씠誘몄� 寃쎈줈 �솗�씤 */
    background-size: contain; /* �씠誘몄�媛� 鍮꾩쑉�쓣 �쑀吏��븯硫댁꽌 而⑦뀒�씠�꼫�뿉 留욊쾶 議곗젙�맖 */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
}

.fullContent{
	width : 35%;
	height : 45%;
	border-radius: 10px;
	background-color : white;
	opacity:0.8;
	align-items: center;
	text-align: center;
	min-height : 300px;
	min-width: 300px;
}
.inputText{
	color: black; 
	width: 40%; 
	height: 30px;
	margin-top: 15px;
	font-size: 15px;
}
.inputText1{
	color: black; 
	width: 90%; 
	height: 30px;
	margin-top: 15px;
	font-size: 15px;
}
.input_text{
	font-size: 20px;
    font-family: textL;
}
.loginButton{
	margin-top: 15px;
	border: none;
	width : 30%;
	font-size: 20px;
	font-family: textL;
	background-color: #FFEE00;
}

.memoboardDiv{/* yeji */
 display: block; 
 width: 50%;
 height: 100%;
 padding-left: 10px;
 padding-right: 10px;

}

.addButton { /* yeji */
    padding: 10px 15px;
    border: none;
    background-color: #508AE6;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.addButton:hover { /* yeji */
    background-color: #3d6db5;
}

.deleteButton { /* yeji */
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: #E65050; 
    color: white;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px; /* 버튼 높이와 동일하게 설정하여 텍스트를 중앙에 배치 */
    font-size: 14px; 
    position: absolute;
    right: 10px;
    text-decoration: none !important;
    display: inline-block; /* inline 요소의 기본 속성을 유지하여 위치 및 크기 조정 가능 */
}

.deleteButton:hover { /* yeji */
    background-color: #B53D3D;
}
/* 우하단 탭 영역 관련 css */

/* 탭 영역 전체 설정 */
.tab_area {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bgcolor); /* 기본 배경색 */
    padding: 10px 80px 10px 80px;
    border-radius: 10px;
}

/* 각 탭의 기본 스타일 */
.tab {
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    background-color: var(--main-bgcolor); /* 탭의 배경색 */
    border-radius: 5px; /* 탭의 모서리 둥글게 */
    margin-right: 5px; /* 탭 사이의 간격 */
    transition: background-color 0.3s ease; /* 배경색 변경 효과 부드럽게 */
}


/* 마지막 탭의 마진 제거 */
.tab:last-child {
    margin-right: 0;
}

/* 활성화된 탭의 스타일 */
.tab.active {
    background-color: white; /* 활성 탭의 배경색 변경 */
    color: gray; /* 활성 탭의 글자색 변경 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* 탭 내용 영역 */
.tab_content {
    display: none; /* 기본적으로 숨김 처리 */
    background-color: white;
    height: 84%;
    padding: 10px 0px 10px 0px;
    border-radius: 0 0 10px 10px;
}

/* 활성화된 탭 내용 영역 표시 */
.active {
    display: block;
}

/* 환율 */
.currency-body {
	width: 100%;
	margin-top:10px;

}

.currency-body .currency-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.currency-body .currency-row1 {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.currency-body .currency-row:last-child {
    border-bottom: none;
}

.currency-row img {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}

.currency-row1 span {
    flex: 1;
    text-align: center;
}

.currency-row span {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

/* 지수 정보 */
.stock-body {
    width: 100%;
    margin-top: 10px;
}

.stock-body .stock-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.stock-body .stock-row1 {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.stock-body .stock-row:last-child {
    border-bottom: none;
}


.stock-row1 span {
    flex: 1;
    text-align: center;
}

.stock-row span {
    flex: 1;
    text-align: right; /* 기본적으로 모든 컬럼은 오른쪽 정렬 */
    padding-right: 10px;
}

.stock-row span:first-child {
    text-align: center; /* 첫 번째 컬럼은 가운데 정렬 */
}

/* 지수가 음수일 때 */
.stock-row .negative {
    color: blue;
    font-weight: bold;
}

/* 지수가 양수일 때 */
.stock-row .positive {
    color: red;
    font-weight: bold;
}

hr {
    border: none;       /* 기존 테두리를 제거 */
    height: 1px;        /* 높이 설정 */
    background-color: #000; /* 배경색을 검은색으로 설정 */
    margin: 10px 0;     /* 상하 여백 추가 */
}

/* mor, cofix*/
.rates_box {
	width : 100%;
	margin-top: 5px;
	padding: 5px;
}

.rate-toggle-buttons {
    margin-bottom: 10px;
    text-align: left;
}

.toggle-button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.toggle-button:hover {
    background-color: #e2e2e2;
}

.rate-table {
    width: 100%;
    margin-top: 5px;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.rate-header, .rate-cell {
	font-size: 14px;
    border: 1px solid #ccc;
    padding: 6px;
    text-align: center;
}

.rate-header {
	font-weight: bold;
    background-color: #f2f2f2;
}

/* mor, cofix*/

.todo_list {
     height: 80%;
}



.todo_rate {
    text-align: right; /* 오른쪽 정렬 */
    width: 100%; /* 너비 100% 설정 */
    padding: 10px; /* 패딩 설정 */
}

.checked {
    text-decoration: line-through; /* 완료된 항목에 취소선 */
    color: var(--todo-checked); /* 색상 변경 */
}

.todo_item input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 라벨 사이 간격 */
}
.memo_list {
    margin-top: 20px;
     overflow-y: auto; 
     height: 75%;
}

.memo_list li {
    padding: 8px;
}
.notify-btn1 {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.notify-btn1:hover {
    background-color: #45a049;
}
/* 알림 박스 스타일 */
.notification-box1 {
	z-index: 999999;
    position: fixed;
    top: 85px; /* 위에서 60px 떨어진 위치 */
    right: 15px; /* 오른쪽 끝에서 10px 떨어진 위치 */
    width: 300px;
    height : 400px;
    overflow-y: auto;
    padding: 20px;
    background-color: #F3F3F3;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none; /* 초기에는 박스를 숨깁니다 */
    
}
.deleteButton11 {
	text-decoration: none;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #E65050;
	border: none;
	color: white;
	padding: 0;
	border-radius: 50%;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	line-height: 20px; /* 버튼 높이와 동일하게 설정하여 텍스트를 중앙에 배치 */
}

.deleteButton11:hover { /* yeji */
	background-color: #B53D3D;
}
.aTag{
    text-decoration: none;
    color: black;
}
.No-line-break{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.past-to-do{
	background-color: #FFC7CE;
	
}